body {
	background-color: #e6f7ff;
}

:root {
	--my-color-blue: #33ccff;
}

.pageHome {
	height: 400px;
	background-image: url('../img/keyboard_bg.jpg');
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: top;
	padding-right: 0px;
	padding-left: 0px;
	color: white;
}

hr {
	width: 100%;
}

.container {
	background-color: #b3e6ff;
}

.colorFunH1 {
	color: var(--my-color-blue, #33ccff);
}

div nav {
	width: 1000px;
}

a:link, a:visited {
	text-decoration: none;
	color: var(--my-color-blue, #33ccff);
}
a:hover, a:active {
	text-decoration: none;
	color: white;
}

.pageHome h1{
	padding-top: 50px;
	padding-left: 50px;
	font-size: 65px;
}

.pageHome h4{
	padding-left: 50px;
}

img[src$="me.jpg"] {
	margin-top: -120px;
	margin-right: 50px;
	width: 250px;
	border: 10px solid #b3e6ff;
}

.pageAbout div:nth-of-type(2) {
	margin-top: -80px;
	padding-left: 40px;
}

.pageProjects h2, .pageContacts h2 {
	padding-left: 40px;
}

.pageProjects img {
	margin: 50px auto;
	width: 200px;
}

.socialIcons{
	width: 40px;
	margin-right: 5px;
}

.pageContacts div:nth-of-type(2) {
	width: 100%;
}

.pageContacts ul {
	list-style-type: none;
}

img[src$="original.png"] {
	width: 100px;
	margin-right: 50px;
	margin-top: -10px;
	margin-bottom: 20px;
}